# Node / Next.js
node_modules/
.next/
.turbo/
.tsbuildinfo
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# Editor / OS
.idea/
.vscode/
.DS_Store
